#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.numpad {
  display: grid;
  grid-template: 100px 75px 75px 75px 75px 75px 75px/ 100px 100px 100px 100px;
  background-color: #122748;
  padding: 20px 10px;
  border-radius: 5px;
  gap: 5px;
}

#display {
  font-size: 30px;
  color: black;
  background-color: #bfd5ff;
  grid-column-start: 1;
  grid-column-end: 5;
  text-align: right;
  margin: auto 0;
  padding: 25px 15px;
}

#title {
  grid-column-start: 1;
  grid-column-end: 4;
  margin: auto 0;
}

#author {
  grid-column-start: 1;
  grid-column-end: 4;
}

#clear {
  grid-row-start: 2;
  grid-column-start: 4;
  color: black;
  background-color: #3e5b9d;
}

#divide {
  grid-column-start: 4;
}

#zero {
  grid-column-start: 2;
}

#equals {
  color: black;
  background-color: #3e5b9d;
}

.hide {
  display: none;
}